footer{
    text-align: center;
}

.article{
    margin-top: 30px;/*расстояние между абзатцами*/
    margin-bottom: 30px/*нижний отступ для footer*/
}
.admin-table{
    width: 100%;

}

label{
    width: 100%;
}

.form_item{
    width: 100%;
}