<table border="1">
    <tr>
        <th>Дата</th>
        <th>Загаловок</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>2016-01-11</td>
        <td>Загаловок 1</td>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>
    <tr>
        <td>2016-01-10</td>
        <td>Загаловок</td>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>
    <tr>
        <td>2016-01-09</td>
        <td>Загаловок</td>
        <td>
            <a href="#">Редактировать</a>
        </td>
        <td>
            <a href="#">Удалить</a>
        </td>
    </tr>

</table>